Data Source: https://data.bitcoinity.org/markets/volume/all?c=e&t=b

In [2]:
import pandas as pd
import time
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import numpy as np

from functools import reduce

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
vol = pd.read_csv('bitcoin volume.csv').rename(columns=lambda x: x.strip())
vol=vol.fillna(0)

In [5]:
# convert the date string to the correct date format
vol.Time = pd.to_datetime(vol['Time'])

In [6]:
vol.head()

,Time,bitfinex,bitflyer,bitstamp,btcchina,btce,huobi,lakebtc,mtgox,okcoin,others
0,2000-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,2010-07-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.00,0.0,0.0
2,2010-07-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.01,0.0,0.0
3,2010-07-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.00,0.0,0.0
4,2010-07-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.00,0.0,0.0

In [7]:
# pivot the table 
vol =pd.melt(vol, id_vars=['Time'], value_vars=['mtgox','bitfinex','bitflyer','bitstamp','btcchina','btce','huobi','lakebtc','okcoin','others'])
vol =vol.rename(columns={"variable":"exchange","value":"vol_total"})
vol.head()

        Time exchange  vol_total
0 2000-01-02    mtgox       0.00
1 2010-07-17    mtgox      20.00
2 2010-07-18    mtgox      75.01
3 2010-07-19    mtgox     574.00
4 2010-07-20    mtgox     262.00

In [8]:
cny = pd.read_csv('CNY.csv').rename(columns=lambda x: x.strip())
cny.Time = pd.to_datetime(cny['Time'])
cny=cny.fillna(0)
cny.head()

        Time  btcchina  huobi  lakebtc  localbitcoins  mtgox  okcoin  rmbtb
0 2011-06-13     9.000    0.0      0.0            0.0    0.0     0.0    0.0
1 2011-06-17     0.020    0.0      0.0            0.0    0.0     0.0    0.0
2 2011-06-18    15.200    0.0      0.0            0.0    0.0     0.0    0.0
3 2011-06-19    29.588    0.0      0.0            0.0    0.0     0.0    0.0
4 2011-06-20     0.300    0.0      0.0            0.0    0.0     0.0    0.0

In [9]:
# pivot the table 
cny =pd.melt(cny, id_vars=['Time'], value_vars=['mtgox','btcchina','huobi','lakebtc','localbitcoins','okcoin','rmbtb'])
cny =cny.rename(columns={"variable":"exchange","value":"vol_cny"})
cny.head()

        Time exchange  vol_cny
0 2011-06-13    mtgox      0.0
1 2011-06-17    mtgox      0.0
2 2011-06-18    mtgox      0.0
3 2011-06-19    mtgox      0.0
4 2011-06-20    mtgox      0.0

In [10]:
eur = pd.read_csv('EUR.csv').rename(columns=lambda x: x.strip())
eur.Time = pd.to_datetime(eur['Time'])
eur=eur.fillna(0)
eur.head()

,Time,bit-x,bitcoin24,bitcoinde,bitstamp,coinbase,gatecoin,itbit,kraken,mtgox,others
0,2000-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,2011-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66.00
2,2011-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.32
3,2011-01-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.00
4,2011-01-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.00

In [11]:
# pivot the table 
eur =pd.melt(eur, id_vars=['Time'], value_vars=['mtgox','bix-x','itbit','bitcoin24','bitstamp','bitcoinde','coinbase','gatecoin','kraken','others'])
eur =eur.rename(columns={"variable":"exchange","value":"vol_eur"})
eur.head()

        Time exchange  vol_eur
0 2000-01-02    mtgox      0.0
1 2011-01-06    mtgox      0.0
2 2011-01-10    mtgox      0.0
3 2011-01-12    mtgox      0.0
4 2011-01-13    mtgox      0.0

In [12]:
inr = pd.read_csv('INR.csv').rename(columns=lambda x: x.strip())
inr.Time = pd.to_datetime(inr['Time'])
inr.head()

        Time  localbitcoins
0 2013-03-20         3.0000
1 2013-03-21         2.3495
2 2013-03-23         2.2500
3 2013-03-24         0.2245
4 2013-03-25         2.6597

In [13]:
# pivot the table 
inr=pd.melt(inr, id_vars=['Time'], value_vars=['localbitcoins'])
inr =inr.rename(columns={"variable":"exchange","value":"vol_inr"})
inr.head()

        Time       exchange  vol_inr
0 2013-03-20  localbitcoins   3.0000
1 2013-03-21  localbitcoins   2.3495
2 2013-03-23  localbitcoins   2.2500
3 2013-03-24  localbitcoins   0.2245
4 2013-03-25  localbitcoins   2.6597

In [14]:
jpy = pd.read_csv('JPY.csv').rename(columns=lambda x: x.strip())
jpy.Time = pd.to_datetime(jpy['Time'])
jpy=jpy.fillna(0)
jpy.head()

        Time  anxbtc  bitflyer  kraken  localbitcoins      mtgox
0 2011-08-27     0.0       0.0     0.0            0.0   1.000000
1 2011-08-30     0.0       0.0     0.0            0.0  28.784078
2 2011-08-31     0.0       0.0     0.0            0.0  24.536103
3 2011-09-02     0.0       0.0     0.0            0.0   3.000000
4 2011-09-07     0.0       0.0     0.0            0.0   1.950100

In [15]:
# pivot the table 
jpy =pd.melt(jpy, id_vars=['Time'], value_vars=['mtgox','anxbtc','bitflyer','kraken','localbitcoins'])
jpy =jpy.rename(columns={"variable":"exchange","value":"vol_jpy"})
jpy.head()

        Time exchange    vol_jpy
0 2011-08-27    mtgox   1.000000
1 2011-08-30    mtgox  28.784078
2 2011-08-31    mtgox  24.536103
3 2011-09-02    mtgox   3.000000
4 2011-09-07    mtgox   1.950100

In [18]:
# pivot the table 
krw =pd.melt(krw, id_vars=['Time'], value_vars=['kraken'])
krw =krw.rename(columns={"variable":"exchange","value":"vol_krw"})
krw.head()

        Time exchange    vol_krw
0 2013-11-29   kraken   3.639114
1 2013-11-30   kraken   7.856286
2 2013-12-01   kraken   2.225284
3 2013-12-02   kraken  19.211906
4 2013-12-03   kraken  13.353608

In [68]:
sgd = pd.read_csv('SGD.csv').rename(columns=lambda x: x.strip())
sgd.Time = pd.to_datetime(sgd['Time'])
sgd=sgd.fillna(0)
sgd

           Time  anxbtc    itbit  localbitcoins       mtgox
0    2011-09-18     0.0   0.0000       0.000000    0.212000
1    2011-09-30     0.0   0.0000       0.000000    0.020000
2    2011-10-06     0.0   0.0000       0.000000    0.020300
3    2011-10-09     0.0   0.0000       0.000000    0.100000
4    2011-10-13     0.0   0.0000       0.000000    0.100000
5    2011-10-15     0.0   0.0000       0.000000    0.341530
6    2011-10-17     0.0   0.0000       0.000000   50.000000
7    2011-10-18     0.0   0.0000       0.000000    0.149730
8    2011-11-14     0.0   0.0000       0.000000  610.000000
9    2011-12-05     0.0   0.0000       0.000000    0.000714
10   2012-01-08     0.0   0.0000       0.000000    0.500000
11   2012-01-16     0.0   0.0000       0.000000    6.862182
12   2012-01-24     0.0   0.0000       0.000000   45.015520
13   2012-02-23     0.0   0.0000       0.000000    3.000000
14   2012-02-29     0.0   0.0000       0.000000    0.714600
15   2012-03-04     0.0   0.0000       0.000000    2.851592
16   2012-03-16     0.0   0.0000       0.000000    0.035102
17   2012-03-25     0.0   0.0000       0.000000  859.137200
18   2012-04-20     0.0   0.0000       0.000000    0.030000
19   2012-04-28     0.0   0.0000       0.000000    0.030848
20   2012-04-29     0.0   0.0000       0.000000    0.043649
21   2012-05-09     0.0   0.0000       0.000000    0.057886
22   2012-05-10     0.0   0.0000       0.000000    0.037491
23   2012-05-11     0.0   0.0000       0.000000    0.166975
24   2012-05-13     0.0   0.0000       0.000000    0.027353
25   2012-05-20     0.0   0.0000       0.000000    0.375383
26   2012-05-30     0.0   0.0000       0.000000   27.226042
27   2012-06-20     0.0   0.0000       0.000000   11.923456
28   2012-06-22     0.0   0.0000       0.000000    0.023400
29   2012-06-27     0.0   0.0000       0.000000    0.021000
...         ...     ...      ...            ...         ...
1892 2018-01-23     0.0  15.6904      11.535604    0.000000
1893 2018-01-24     0.0   2.0692      11.929152    0.000000
1894 2018-01-25     0.0   0.0000       6.252138    0.000000
1895 2018-01-26     0.0   0.0000      12.102881    0.000000
1896 2018-01-27     0.0   0.0000       1.276024    0.000000
1897 2018-01-28     0.0   0.0000       3.024129    0.000000
1898 2018-01-29     0.0   4.4013       2.027079    0.000000
1899 2018-01-30     0.0   3.5902       7.186951    0.000000
1900 2018-01-31     0.0   1.6757       2.937413    0.000000
1901 2018-02-01     0.0   3.6807      10.667246    0.000000
1902 2018-02-02     0.0  21.8138      14.740444    0.000000
1903 2018-02-03     0.0   2.9133       2.540680    0.000000
1904 2018-02-04     0.0   4.3610      13.762594    0.000000
1905 2018-02-05     0.0  14.1018       4.332415    0.000000
1906 2018-02-06     0.0  62.3544      12.005776    0.000000
1907 2018-02-07     0.0   8.6656       9.381232    0.000000
1908 2018-02-08     0.0   1.9862       2.491707    0.000000
1909 2018-02-09     0.0   1.5156      13.473803    0.000000
1910 2018-02-10     0.0   1.7593       3.754413    0.000000
1911 2018-02-11     0.0   1.6617       4.971131    0.000000
1912 2018-02-12     0.0   0.9586       2.299174    0.000000
1913 2018-02-13     0.0   0.5267       4.272012    0.000000
1914 2018-02-14     0.0   0.4730       3.382963    0.000000
1915 2018-02-15     0.0   1.2889      10.293932    0.000000
1916 2018-02-16     0.0   1.0157       4.036802    0.000000
1917 2018-02-17     0.0   0.8925       6.767862    0.000000
1918 2018-02-18     0.0   1.5803       3.371243    0.000000
1919 2018-02-19     0.0   0.3894       4.372674    0.000000
1920 2018-02-20     0.0   0.2414       1.203677    0.000000
1921 2018-02-21     0.0   0.5941       5.556787    0.000000

[1922 rows x 5 columns]

In [20]:
# pivot the table 
sgd =pd.melt(sgd, id_vars=['Time'], value_vars=['mtgox','anxbtc','itbit','localbitcoins'])
sgd =sgd.rename(columns={"variable":"exchange","value":"vol_sgd"})
sgd.head()

        Time exchange  vol_sgd
0 2011-09-18    mtgox   0.2120
1 2011-09-30    mtgox   0.0200
2 2011-10-06    mtgox   0.0203
3 2011-10-09    mtgox   0.1000
4 2011-10-13    mtgox   0.1000

In [21]:
usd = pd.read_csv('USD.csv').rename(columns=lambda x: x.strip())
usd.Time = pd.to_datetime(usd['Time'])
usd=usd.fillna(0)
usd.head()

,Time,bit-x,bitfinex,bitstamp,btce,coinbase,itbit,lakebtc,mtgox,okcoin,others
0,2010-07-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.00,0.0,0.0
1,2010-07-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.01,0.0,0.0
2,2010-07-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.00,0.0,0.0
3,2010-07-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.00,0.0,0.0
4,2010-07-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,575.00,0.0,0.0

In [22]:
# pivot the table 
usd =pd.melt(usd, id_vars=['Time'], value_vars=['mtgox','bix-x','itbit','bitfinex','bitstamp','btce','coinbase','lakebtc','okcoin','others'])
usd =usd.rename(columns={"variable":"exchange","value":"vol_usd"})
usd.head()

        Time exchange  vol_usd
0 2010-07-17    mtgox    20.00
1 2010-07-18    mtgox    75.01
2 2010-07-19    mtgox   574.00
3 2010-07-20    mtgox   262.00
4 2010-07-21    mtgox   575.00

In [61]:
vols=[vol,cny,usd,eur,inr,jpy,sgd]
vol_final = reduce(lambda left,right: pd.merge(left,right,on=['Time','exchange'],how='outer'), vols)

In [35]:
vol1 = pd.merge(vol,cny,on=['Time','exchange'],how='outer')

In [62]:
vol_final=vol_final.fillna(0).sort_values(by='Time')
vol_final=vol_final[vol_final['Time'].dt.year>2009]
vol_final

,Time,exchange,vol_total,vol_cny,vol_usd,vol_eur,vol_inr,vol_jpy,vol_krw,vol_sgd
11093,2010-07-17,btcchina,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2774,2010-07-17,bitfinex,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
24958,2010-07-17,others,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
8320,2010-07-17,bitstamp,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
22185,2010-07-17,okcoin,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
35425,2010-07-17,itbit,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
16639,2010-07-17,huobi,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
5547,2010-07-17,bitflyer,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
13866,2010-07-17,btce,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
32648,2010-07-17,bix-x,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
19412,2010-07-17,lakebtc,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
38217,2010-07-17,coinbase,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
1,2010-07-17,mtgox,20.00,0.000000,20.000000,0.000000,0.000000,0.000000,0.0,0.000000
32649,2010-07-18,bix-x,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
16640,2010-07-18,huobi,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2775,2010-07-18,bitfinex,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
22186,2010-07-18,okcoin,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
38218,2010-07-18,coinbase,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
35426,2010-07-18,itbit,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
13867,2010-07-18,btce,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
11094,2010-07-18,btcchina,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
19413,2010-07-18,lakebtc,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2,2010-07-18,mtgox,75.01,0.000000,75.010000,0.000000,0.000000,0.000000,0.0,0.000000
5548,2010-07-18,bitflyer,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
8321,2010-07-18,bitstamp,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
24959,2010-07-18,others,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
2776,2010-07-19,bitfinex,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
13868,2010-07-19,btce,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
16641,2010-07-19,huobi,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
5549,2010-07-19,bitflyer,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...
32646,2018-02-21,rmbtb,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
27746,2018-02-21,huobi,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
27752,2018-02-21,lakebtc,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
38211,2018-02-21,bitstamp,0.00,0.000000,19959.677157,5611.260381,0.000000,0.000000,0.0,0.000000
35424,2018-02-21,bix-x,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
51028,2018-02-21,kraken,0.00,0.000000,0.000000,17428.547767,0.000000,15.338748,0.0,0.000000
38216,2018-02-21,btce,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
43507,2018-02-21,bitcoin24,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
38206,2018-02-21,bitfinex,0.00,0.000000,76398.712562,0.000000,0.000000,0.000000,0.0,0.000000
30202,2018-02-21,okcoin,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
38201,2018-02-21,itbit,0.00,0.000000,4933.159100,21.942800,0.000000,0.000000,0.0,0.594100
40993,2018-02-21,coinbase,0.00,0.000000,30028.818740,5768.879876,0.000000,0.000000,0.0,0.000000
30196,2018-02-21,localbitcoins,0.00,80.298079,0.000000,0.000000,9.543471,0.385421,0.0,5.556787
40998,2018-02-21,others,0.00,0.000000,35908.543364,562.424184,0.000000,0.000000,0.0,0.000000
46017,2018-02-22,coinbase,0.00,0.000000,0.000000,4674.566659,0.000000,0.000000,0.0,0.000000
43509,2018-02-22,bitstamp,0.00,0.000000,0.000000,4571.018515,0.000000,0.000000,0.0,0.000000
43508,2018-02-22,bitcoin24,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
32647,2018-02-22,rmbtb,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
30197,2018-02-22,localbitcoins,0.00,117.430084,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
27747,2018-02-22,huobi,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
51030,2018-02-22,others,0.00,0.000000,0.000000,491.131000,0.000000,0.000000,0.0,0.000000
30203,2018-02-22,okcoin,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
41002,2018-02-22,itbit,0.00,0.000000,0.000000,12.568100,0.000000,0.000000,0.0,0.000000
27735,2018-02-22,mtgox,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
51029,2018-02-22,kraken,0.00,0.000000,0.000000,19314.042154,0.000000,0.000000,0.0,0.000000
27741,2018-02-22,btcchina,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
27753,2018-02-22,lakebtc,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
41000,2018-02-22,bix-x,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
48523,2018-02-22,gatecoin,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
46015,2018-02-22,bitcoinde,0.00,0.000000,0.000000,647.796214,0.000000,0.000000,0.0,0.000000

In [63]:
vol_final.to_csv('vol_clean.csv')

In [8]:
price = pd.read_csv('bitcoin price.csv').rename(columns=lambda x: x.strip())

In [9]:
price.Time = pd.to_datetime(price['Time'])

In [10]:
price.head()

,Time,bit-x,bitfinex,cex.io,coinbase,exmo,gemini,hitbtc,itbit,kraken,others
0,2010-07-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049510
1,2010-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077975
2,2010-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.086792
3,2010-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077999
4,2010-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070463

In [11]:
# md= mining difficulty
md = pd.read_csv('bitcoin mining difficulty.csv').rename(columns=lambda x: x.strip())

In [12]:
md.Time = pd.to_datetime(md['Time'])

In [13]:
md= md.rename(columns ={'Unnamed: 1':'level'})

In [14]:
md=md.dropna(axis=0, how='any')

In [15]:
md.head()

        Time  level
0 2009-01-09    1.0
1 2009-01-10    1.0
2 2009-01-11    1.0
3 2009-01-12    1.0
4 2009-01-13    1.0

In [16]:
df=pd.merge(vol,md,on='Time',how='outer')

In [17]:
vol.to_csv('vol_clean.csv')

In [18]:
df

,Time,bitfinex,bitflyer,bitstamp,btcchina,btce,huobi,lakebtc,mtgox,okcoin,others,level
0,2000-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,NaN
1,2010-07-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.00,0.0,0.0,181.543289
2,2010-07-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.01,0.0,0.0,181.543289
3,2010-07-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.00,0.0,0.0,181.543289
4,2010-07-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.00,0.0,0.0,181.543289
5,2010-07-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,575.00,0.0,0.0,181.543289
6,2010-07-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2160.00,0.0,0.0,181.543289
7,2010-07-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2402.50,0.0,0.0,181.543289
8,2010-07-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,496.32,0.0,0.0,181.543289
9,2010-07-25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1551.48,0.0,0.0,181.543289
10,2010-07-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,877.00,0.0,0.0,181.543289
11,2010-07-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3373.69,0.0,0.0,244.213223
12,2010-07-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4390.29,0.0,0.0,244.213223
13,2010-07-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8058.49,0.0,0.0,244.213223
14,2010-07-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3020.85,0.0,0.0,244.213223
15,2010-07-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4022.25,0.0,0.0,244.213223
16,2010-08-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2601.00,0.0,0.0,244.213223
17,2010-08-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3599.00,0.0,0.0,244.213223
18,2010-08-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9821.46,0.0,0.0,244.213223
19,2010-08-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3494.00,0.0,0.0,244.213223
20,2010-08-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5034.07,0.0,0.0,352.161209
21,2010-08-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1395.00,0.0,0.0,352.161209
22,2010-08-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2619.00,0.0,0.0,352.161209
23,2010-08-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2201.00,0.0,0.0,352.161209
24,2010-08-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13631.09,0.0,0.0,352.161209
25,2010-08-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1310.39,0.0,0.0,352.161209
26,2010-08-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14061.18,0.0,0.0,352.161209
27,2010-08-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2062.31,0.0,0.0,352.161209
28,2010-08-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3591.77,0.0,0.0,352.161209
29,2010-08-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4404.20,0.0,0.0,352.161209
...,...,...,...,...,...,...,...,...,...,...,...,...
3297,2010-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3298,2010-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3299,2010-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3300,2010-06-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3301,2010-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3302,2010-06-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3303,2010-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.381488
3304,2010-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3305,2010-06-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3306,2010-06-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3307,2010-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3308,2010-06-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3309,2010-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3310,2010-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3311,2010-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3312,2010-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3313,2010-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3314,2010-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3315,2010-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.404796
3316,2010-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3317,2010-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3318,2010-07-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3319,2010-07-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3320,2010-07-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3321,2010-07-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3322,2010-07-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.501257
3323,2010-07-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.385822
3324,2010-07-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.385822
3325,2010-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.385822
3326,2010-07-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181.543289

# Reference

https://www.coindesk.com/document-lists-closure-steps-for-chinas-bitcoin-exchanges/

http://fortune.com/2018/01/08/bitcoin-market-fall-south-korea/

https://www.ft.com/content/4cd5cc3c-8309-11e7-a4ce-15b2513cb3ff

https://www.cnbc.com/2017/09/29/bitcoin-exchanges-officially-recognized-by-japan.html