In [1]:
import pandas as pd
import time
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [40]:
vol = pd.read_csv('bitcoin volume.csv').rename(columns=lambda x: x.strip())

In [41]:
# convert the date string to the correct date format
vol.Time = pd.to_datetime(vol['Time'])

In [52]:
vol.head()

,Time,bitfinex,bitflyer,bitstamp,btcchina,btce,huobi,lakebtc,mtgox,okcoin,others
0,2000-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,2010-07-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.00,0.0,0.0
2,2010-07-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.01,0.0,0.0
3,2010-07-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.00,0.0,0.0
4,2010-07-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.00,0.0,0.0

In [36]:
vol.dtypes

Time        datetime64[ns]
bitfinex           float64
bitflyer           float64
bitstamp           float64
btcchina           float64
btce               float64
huobi              float64
lakebtc            float64
mtgox              float64
okcoin             float64
others             float64
dtype: object

In [51]:
vol=vol.fillna(0)

In [68]:
price = pd.read_csv('bitcoin price.csv').rename(columns=lambda x: x.strip())

In [69]:
price.Time = pd.to_datetime(price['Time'])

In [70]:
price.head()

,Time,bit-x,bitfinex,cex.io,coinbase,exmo,gemini,hitbtc,itbit,kraken,others
0,2010-07-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.049510
1,2010-07-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077975
2,2010-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.086792
3,2010-07-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.077999
4,2010-07-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.070463

In [45]:
# md= mining difficulty
md = pd.read_csv('bitcoin mining difficulty.csv').rename(columns=lambda x: x.strip())

In [46]:
md.Time = pd.to_datetime(md['Time'])

In [48]:
md= md.rename(columns ={'Unnamed: 1':'level'})

In [75]:
md.head()

        Time  level
0 2009-01-09    1.0
1 2009-01-10    1.0
2 2009-01-11    1.0
3 2009-01-12    1.0
4 2009-01-13    1.0

In [76]:
df=pd.merge(vol,md,on='Time',how='outer')

In [78]:
df.to_csv('vol_md.csv')