Data Source: https://data.bitcoinity.org/markets/volume/all?c=e&t=b

In [1]:
import pandas as pd
import time
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import numpy as np

from functools import reduce

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
vol = pd.read_csv('bitcoin volume.csv').rename(columns=lambda x: x.strip())
vol=vol.fillna(0)

In [4]:
# convert the date string to the correct date format
vol.Time = pd.to_datetime(vol['Time'])

In [5]:
vol.head()

,Time,bitfinex,bitflyer,bitstamp,btcchina,btce,huobi,lakebtc,mtgox,okcoin,others
0,2000-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0
1,2010-07-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.00,0.0,0.0
2,2010-07-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.01,0.0,0.0
3,2010-07-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.00,0.0,0.0
4,2010-07-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.00,0.0,0.0

In [6]:
# pivot the table 
vol =pd.melt(vol, id_vars=['Time'], value_vars=['mtgox','bitfinex','bitflyer','bitstamp','btcchina','btce','huobi','lakebtc','okcoin','others'])
vol =vol.rename(columns={"variable":"exchange","value":"vol_total"})
vol.head()

        Time exchange  vol_total
0 2000-01-02    mtgox       0.00
1 2010-07-17    mtgox      20.00
2 2010-07-18    mtgox      75.01
3 2010-07-19    mtgox     574.00
4 2010-07-20    mtgox     262.00

In [7]:
cny = pd.read_csv('CNY.csv').rename(columns=lambda x: x.strip())
cny.Time = pd.to_datetime(cny['Time'])
cny=cny.fillna(0)
cny.head()

        Time  btcchina  huobi  lakebtc  localbitcoins  mtgox  okcoin  rmbtb
0 2011-06-13     9.000    0.0      0.0            0.0    0.0     0.0    0.0
1 2011-06-17     0.020    0.0      0.0            0.0    0.0     0.0    0.0
2 2011-06-18    15.200    0.0      0.0            0.0    0.0     0.0    0.0
3 2011-06-19    29.588    0.0      0.0            0.0    0.0     0.0    0.0
4 2011-06-20     0.300    0.0      0.0            0.0    0.0     0.0    0.0

In [8]:
# pivot the table 
cny =pd.melt(cny, id_vars=['Time'], value_vars=['mtgox','btcchina','huobi','lakebtc','localbitcoins','okcoin','rmbtb'])
cny =cny.rename(columns={"variable":"exchange","value":"vol_cny"})
cny.head()

        Time exchange  vol_cny
0 2011-06-13    mtgox      0.0
1 2011-06-17    mtgox      0.0
2 2011-06-18    mtgox      0.0
3 2011-06-19    mtgox      0.0
4 2011-06-20    mtgox      0.0

In [9]:
eur = pd.read_csv('EUR.csv').rename(columns=lambda x: x.strip())
eur.Time = pd.to_datetime(eur['Time'])
eur=eur.fillna(0)
eur.head()

,Time,bit-x,bitcoin24,bitcoinde,bitstamp,coinbase,gatecoin,itbit,kraken,mtgox,others
0,2000-01-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00
1,2011-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66.00
2,2011-01-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41.32
3,2011-01-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.00
4,2011-01-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,175.00

In [10]:
# pivot the table 
eur =pd.melt(eur, id_vars=['Time'], value_vars=['mtgox','bix-x','itbit','bitcoin24','bitstamp','bitcoinde','coinbase','gatecoin','kraken','others'])
eur =eur.rename(columns={"variable":"exchange","value":"vol_eur"})
eur.head()

        Time exchange  vol_eur
0 2000-01-02    mtgox      0.0
1 2011-01-06    mtgox      0.0
2 2011-01-10    mtgox      0.0
3 2011-01-12    mtgox      0.0
4 2011-01-13    mtgox      0.0

In [11]:
inr = pd.read_csv('INR.csv').rename(columns=lambda x: x.strip())
inr.Time = pd.to_datetime(inr['Time'])
inr.head()

        Time  localbitcoins
0 2013-03-20         3.0000
1 2013-03-21         2.3495
2 2013-03-23         2.2500
3 2013-03-24         0.2245
4 2013-03-25         2.6597

In [12]:
# pivot the table 
inr=pd.melt(inr, id_vars=['Time'], value_vars=['localbitcoins'])
inr =inr.rename(columns={"variable":"exchange","value":"vol_inr"})
inr.head()

        Time       exchange  vol_inr
0 2013-03-20  localbitcoins   3.0000
1 2013-03-21  localbitcoins   2.3495
2 2013-03-23  localbitcoins   2.2500
3 2013-03-24  localbitcoins   0.2245
4 2013-03-25  localbitcoins   2.6597

In [13]:
jpy = pd.read_csv('JPY.csv').rename(columns=lambda x: x.strip())
jpy.Time = pd.to_datetime(jpy['Time'])
jpy=jpy.fillna(0)
jpy.head()

        Time  anxbtc  bitflyer  kraken  localbitcoins      mtgox
0 2011-08-27     0.0       0.0     0.0            0.0   1.000000
1 2011-08-30     0.0       0.0     0.0            0.0  28.784078
2 2011-08-31     0.0       0.0     0.0            0.0  24.536103
3 2011-09-02     0.0       0.0     0.0            0.0   3.000000
4 2011-09-07     0.0       0.0     0.0            0.0   1.950100

In [14]:
# pivot the table 
jpy =pd.melt(jpy, id_vars=['Time'], value_vars=['mtgox','anxbtc','bitflyer','kraken','localbitcoins'])
jpy =jpy.rename(columns={"variable":"exchange","value":"vol_jpy"})
jpy.head()

        Time exchange    vol_jpy
0 2011-08-27    mtgox   1.000000
1 2011-08-30    mtgox  28.784078
2 2011-08-31    mtgox  24.536103
3 2011-09-02    mtgox   3.000000
4 2011-09-07    mtgox   1.950100

In [16]:
sgd = pd.read_csv('SGD.csv').rename(columns=lambda x: x.strip())
sgd.Time = pd.to_datetime(sgd['Time'])
sgd=sgd.fillna(0)
sgd

           Time  anxbtc    itbit  localbitcoins       mtgox
0    2011-09-18     0.0   0.0000       0.000000    0.212000
1    2011-09-30     0.0   0.0000       0.000000    0.020000
2    2011-10-06     0.0   0.0000       0.000000    0.020300
3    2011-10-09     0.0   0.0000       0.000000    0.100000
4    2011-10-13     0.0   0.0000       0.000000    0.100000
5    2011-10-15     0.0   0.0000       0.000000    0.341530
6    2011-10-17     0.0   0.0000       0.000000   50.000000
7    2011-10-18     0.0   0.0000       0.000000    0.149730
8    2011-11-14     0.0   0.0000       0.000000  610.000000
9    2011-12-05     0.0   0.0000       0.000000    0.000714
10   2012-01-08     0.0   0.0000       0.000000    0.500000
11   2012-01-16     0.0   0.0000       0.000000    6.862182
12   2012-01-24     0.0   0.0000       0.000000   45.015520
13   2012-02-23     0.0   0.0000       0.000000    3.000000
14   2012-02-29     0.0   0.0000       0.000000    0.714600
15   2012-03-04     0.0   0.0000       0.000000    2.851592
16   2012-03-16     0.0   0.0000       0.000000    0.035102
17   2012-03-25     0.0   0.0000       0.000000  859.137200
18   2012-04-20     0.0   0.0000       0.000000    0.030000
19   2012-04-28     0.0   0.0000       0.000000    0.030848
20   2012-04-29     0.0   0.0000       0.000000    0.043649
21   2012-05-09     0.0   0.0000       0.000000    0.057886
22   2012-05-10     0.0   0.0000       0.000000    0.037491
23   2012-05-11     0.0   0.0000       0.000000    0.166975
24   2012-05-13     0.0   0.0000       0.000000    0.027353
25   2012-05-20     0.0   0.0000       0.000000    0.375383
26   2012-05-30     0.0   0.0000       0.000000   27.226042
27   2012-06-20     0.0   0.0000       0.000000   11.923456
28   2012-06-22     0.0   0.0000       0.000000    0.023400
29   2012-06-27     0.0   0.0000       0.000000    0.021000
...         ...     ...      ...            ...         ...
1892 2018-01-23     0.0  15.6904      11.535604    0.000000
1893 2018-01-24     0.0   2.0692      11.929152    0.000000
1894 2018-01-25     0.0   0.0000       6.252138    0.000000
1895 2018-01-26     0.0   0.0000      12.102881    0.000000
1896 2018-01-27     0.0   0.0000       1.276024    0.000000
1897 2018-01-28     0.0   0.0000       3.024129    0.000000
1898 2018-01-29     0.0   4.4013       2.027079    0.000000
1899 2018-01-30     0.0   3.5902       7.186951    0.000000
1900 2018-01-31     0.0   1.6757       2.937413    0.000000
1901 2018-02-01     0.0   3.6807      10.667246    0.000000
1902 2018-02-02     0.0  21.8138      14.740444    0.000000
1903 2018-02-03     0.0   2.9133       2.540680    0.000000
1904 2018-02-04     0.0   4.3610      13.762594    0.000000
1905 2018-02-05     0.0  14.1018       4.332415    0.000000
1906 2018-02-06     0.0  62.3544      12.005776    0.000000
1907 2018-02-07     0.0   8.6656       9.381232    0.000000
1908 2018-02-08     0.0   1.9862       2.491707    0.000000
1909 2018-02-09     0.0   1.5156      13.473803    0.000000
1910 2018-02-10     0.0   1.7593       3.754413    0.000000
1911 2018-02-11     0.0   1.6617       4.971131    0.000000
1912 2018-02-12     0.0   0.9586       2.299174    0.000000
1913 2018-02-13     0.0   0.5267       4.272012    0.000000
1914 2018-02-14     0.0   0.4730       3.382963    0.000000
1915 2018-02-15     0.0   1.2889      10.293932    0.000000
1916 2018-02-16     0.0   1.0157       4.036802    0.000000
1917 2018-02-17     0.0   0.8925       6.767862    0.000000
1918 2018-02-18     0.0   1.5803       3.371243    0.000000
1919 2018-02-19     0.0   0.3894       4.372674    0.000000
1920 2018-02-20     0.0   0.2414       1.203677    0.000000
1921 2018-02-21     0.0   0.5941       5.556787    0.000000

[1922 rows x 5 columns]

In [17]:
# pivot the table 
sgd =pd.melt(sgd, id_vars=['Time'], value_vars=['mtgox','anxbtc','itbit','localbitcoins'])
sgd =sgd.rename(columns={"variable":"exchange","value":"vol_sgd"})
sgd.head()

        Time exchange  vol_sgd
0 2011-09-18    mtgox   0.2120
1 2011-09-30    mtgox   0.0200
2 2011-10-06    mtgox   0.0203
3 2011-10-09    mtgox   0.1000
4 2011-10-13    mtgox   0.1000

In [18]:
usd = pd.read_csv('USD.csv').rename(columns=lambda x: x.strip())
usd.Time = pd.to_datetime(usd['Time'])
usd=usd.fillna(0)
usd.head()

,Time,bit-x,bitfinex,bitstamp,btce,coinbase,itbit,lakebtc,mtgox,okcoin,others
0,2010-07-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.00,0.0,0.0
1,2010-07-18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,75.01,0.0,0.0
2,2010-07-19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,574.00,0.0,0.0
3,2010-07-20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,262.00,0.0,0.0
4,2010-07-21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,575.00,0.0,0.0

In [19]:
# pivot the table 
usd =pd.melt(usd, id_vars=['Time'], value_vars=['mtgox','bix-x','itbit','bitfinex','bitstamp','btce','coinbase','lakebtc','okcoin','others'])
usd =usd.rename(columns={"variable":"exchange","value":"vol_usd"})
usd.head()

        Time exchange  vol_usd
0 2010-07-17    mtgox    20.00
1 2010-07-18    mtgox    75.01
2 2010-07-19    mtgox   574.00
3 2010-07-20    mtgox   262.00
4 2010-07-21    mtgox   575.00

In [20]:
vols=[vol,cny,usd,eur,inr,jpy,sgd]
vol_final = reduce(lambda left,right: pd.merge(left,right,on=['Time','exchange'],how='outer'), vols)

In [21]:
vol1 = pd.merge(vol,cny,on=['Time','exchange'],how='outer')

In [22]:
vol_final=vol_final.fillna(0).sort_values(by='Time')
vol_final=vol_final[vol_final['Time'].dt.year>2009]
vol_final.head()

,Time,exchange,vol_total,vol_cny,vol_usd,vol_eur,vol_inr,vol_jpy,vol_sgd
11093,2010-07-17,btcchina,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2774,2010-07-17,bitfinex,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24958,2010-07-17,others,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8320,2010-07-17,bitstamp,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22185,2010-07-17,okcoin,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
vol_final.to_csv('vol_clean.csv')

Clean the price and mining difficulty dataset and merge them togher based on time.

In [24]:
price = pd.read_csv('bitcoin price.csv').rename(columns=lambda x: x.strip())

In [25]:
price.Time = pd.to_datetime(price['Time'])

In [26]:
price =pd.melt(price, id_vars=['Time'], value_vars=['bix-x','itbit','bitfinex','cex.io','exmo','coinbase','gemini','hitbtc','kraken','others'])
price =price.rename(columns={"variable":"exchange","value":"price_usd"})

In [27]:
# md= mining difficulty
md = pd.read_csv('bitcoin mining difficulty.csv').rename(columns=lambda x: x.strip())

In [28]:
md.Time = pd.to_datetime(md['Time'])

In [29]:
md= md.rename(columns ={'Unnamed: 1':'mining level'})

In [30]:
md=md.dropna(axis=0, how='any')

In [31]:
df=pd.merge(md,price,on='Time',how='outer')
df=df.dropna()

In [32]:
df.to_csv('price_clean.csv')

In [33]:
df.isnull().sum()

Time            0
mining level    0
exchange        0
price_usd       0
dtype: int64

# Reference

https://www.coindesk.com/document-lists-closure-steps-for-chinas-bitcoin-exchanges/

http://fortune.com/2018/01/08/bitcoin-market-fall-south-korea/

https://www.ft.com/content/4cd5cc3c-8309-11e7-a4ce-15b2513cb3ff

https://www.cnbc.com/2017/09/29/bitcoin-exchanges-officially-recognized-by-japan.html

https://www.coindesk.com/chinas-crypto-exchanges-didnt-just-survive-theyre-thriving/

http://www.globaltimes.cn/content/1087324.shtml

https://www.chinamoneynetwork.com/2018/03/16/huobi-partners-strikes-global-partnership-plans-launch-japanese-exchanges-killed

https://www.prnewswire.com/news-releases/huobipro-one-of-the-largest-bitcoin-exchanges-in-china-is-the-first-to-list-ripio-rcn-300551605.html

https://www.coindesk.com/okcoin-to-launch-cryptocurrency-exchange-service-in-south-korea/