In [4]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
#########
import seaborn as sns

import matplotlib

import numpy as numpy
import pandas as pandas
import statsmodels.api
import statsmodels.formula.api as smf
import statsmodels.api as sm

import statsmodels.stats.multicomp as multi 

import scipy
import matplotlib.pyplot as plt
import warnings 

from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics
from sklearn.ensemble import ExtraTreesClassifier

warnings.simplefilter(action = "ignore", category = FutureWarning) 
from subprocess import check_output

In [5]:
sd = pd.read_csv('Speed Dating Data.csv',encoding="ISO-8859-1").rename(columns=lambda x: x.strip())
sd.head()

,iid,id,gender,idg,condtn,wave,round,position,positin1,order,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
0,1,1.0,0,1,1,1,10,7,NaN,4,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,0,1,1,1,10,7,NaN,3,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
2,1,1.0,0,1,1,1,10,7,NaN,10,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
3,1,1.0,0,1,1,1,10,7,NaN,5,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN
4,1,1.0,0,1,1,1,10,7,NaN,7,...,5.0,7.0,7.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN

In [6]:
temp1=sd[['iid','gender','pid','samerace','age_o','race_o','dec_o','attr_o','sinc_o','intel_o','fun_o','amb_o','shar_o','like_o','prob_o','age','field_cd','race','imprace','imprelig','from','date','go_out','dec','attr','sinc','intel','fun','amb','shar','like','prob']]

In [8]:
#Creation DataSet for Merging Missing Variables
temp2=temp1[['iid','field_cd','imprace','imprelig','from','date','go_out']]
#Rename the variables to avoid confusion with the two data frames...
temp2.columns = ['pid','field_cd_o','imprace_o','imprelig_o','from_0','date_0','go_out_o']
#Merge the two datasets to have all the variables for both the partners.
BothGenders=pandas.merge(temp1,temp2,on='pid')

BothGenders=BothGenders.drop('iid',1)
BothGenders=BothGenders.drop('pid',1)
BothGenders=BothGenders.dropna()

In [9]:
Females=BothGenders.loc[BothGenders['gender'] == 0]
Males=BothGenders.loc[BothGenders['gender'] == 1]

In [10]:
#Average for all the Features Group by 'dec' factor
#Females
Females[Females.columns[:]].groupby(Females['dec']).mean().round(2)

,gender,samerace,age_o,race_o,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,...,fun,amb,shar,like,prob,field_cd_o,imprace_o,imprelig_o,date_0,go_out_o
dec,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.37,26.60,2.80,0.51,6.48,7.06,7.14,6.40,6.47,...,5.62,6.63,4.69,5.29,4.78,7.35,3.63,3.13,4.97,2.24
1,0.0,0.42,26.45,2.58,0.46,6.26,7.46,7.48,6.62,6.71,...,7.34,7.37,6.57,7.18,5.96,7.47,3.59,3.05,4.63,1.95

In [11]:
#Males
Males[Males.columns[:]].groupby(Males['dec']).mean().round(2)

,gender,samerace,age_o,race_o,dec_o,attr_o,sinc_o,intel_o,fun_o,amb_o,...,fun,amb,shar,like,prob,field_cd_o,imprace_o,imprelig_o,date_0,go_out_o
dec,,,,,,,,,,,,,,,,,,,,,
0,1.0,0.39,25.93,2.95,0.40,6.05,6.90,7.34,6.19,6.82,...,5.76,6.20,4.68,5.28,4.50,8.13,4.24,4.32,5.20,2.23
1,1.0,0.40,25.81,2.74,0.35,5.83,7.23,7.57,6.37,7.03,...,7.23,6.91,6.35,7.19,5.95,8.11,4.25,4.21,5.13,2.09

In [14]:

model1 = smf.ols(formula='dec ~ C(samerace)+age_o+C(race_o)+dec_o+attr_o+sinc_o+intel_o+fun_o+amb_o+shar_o+like_o+prob_o+imprace+imprelig+date+go_out+attr+sinc+intel+fun+amb+shar+like+prob+age+age_o+go_out_o+date_0+C(race)', data=Females)
results1 = model1.fit()

table = sm.stats.anova_lm(results1, typ=2)
table

                  sum_sq       df            F         PR(>F)
C(samerace)    51.069340      1.0   327.706547   5.325354e-73
C(race_o)       3.949856      4.0     6.336453   4.298649e-05
C(race)       228.587946      4.0   366.706162  1.318874e-311
age_o           4.803000      1.0    30.820341   2.845533e-08
dec_o          13.913137      1.0    89.279129   3.577493e-21
attr_o         83.088851      1.0   533.172362  2.531863e-117
sinc_o          8.991762      1.0    57.699185   3.109697e-14
intel_o         1.993391      1.0    12.791377   3.485639e-04
fun_o           0.816281      1.0     5.237986   2.210318e-02
amb_o           1.897872      1.0    12.178444   4.838843e-04
shar_o          4.237801      1.0    27.193521   1.848385e-07
like_o          3.802377      1.0    24.399449   7.855462e-07
prob_o         38.584353      1.0   247.591711   1.200077e-55
imprace         0.821216      1.0     5.269656   2.170460e-02
imprelig       14.188136      1.0    91.043767   1.468793e-21
date            1.928445      1.0    12.374627   4.356110e-04
go_out          0.107759      1.0     0.691477   4.056666e-01
attr          170.474319      1.0  1093.915658  3.316243e-237
sinc           20.999094      1.0   134.748960   4.124549e-31
intel           2.019971      1.0    12.961943   3.182083e-04
fun            18.134370      1.0   116.366331   4.245640e-27
amb            12.031549      1.0    77.205177   1.590852e-18
shar           59.069411      1.0   379.042156   4.260746e-84
like          205.181138      1.0  1316.625638  2.035550e-284
prob           56.179017      1.0   360.494804   4.333723e-80
age             5.101783      1.0    32.737599   1.061049e-08
go_out_o        1.213351      1.0     7.785948   5.267499e-03
date_0         10.885873      1.0    69.853492   6.557212e-17
Residual     7457.190210  47852.0          NaN            NaN

In [ ]:
temp1=sd[['samerace','age_o','race_o','dec_o','attr_o','sinc_o','intel_o','fun_o',\
          'amb_o','shar_o','like_o','prob_o','age','field_cd','race','imprace',\
          'imprelig','from','date','go_out','dec','attr','sinc','intel','fun','amb',\
          'shar','like','prob','attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', \
          'shar1_1','attr2_1', 'sinc2_1','intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', \
          'attr4_1','sinc4_1','fun4_1', 'intel4_1', 'amb4_1','shar4_1']]